@keyframes slideRight {
      0% {
            transform: translateX(0%);
      }

      100% {
            transform: translateX(100%);
      }
}

@keyframes fadeIn {
      from {
            visibility: hidden;
      }

      to {
            visibility: visible;
      }
}




.HomeFigure {
      width: 100%;
      padding-left: 1%;
      padding-right: 1%;
      padding-top: 2%;
      padding-bottom: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      justify-items: center;
      width: 100%;
      visibility: hidden;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 18px;
      padding-left: 5%;
      padding-right: 5%;
      animation: fadeIn 2s ease-in-out 4s forwards;

}


.HomeFigure .box-container {

      width: 100%;
      min-height: 65vh;
      padding-top: 2%;
      padding-bottom: 2%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1;
      justify-items: center;
      visibility: hidden;
      border-radius: 15px;
      padding-left: 50px;
      animation: fadeIn 2s ease-in-out 1s forwards;
}



.HomeFigure .left {
      background-color: transparent;
      padding: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      height: 65vh;
      color: #fff;
      margin: 10px;
}

.HomeFigure .right {
      background-color: transparent;
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-items: start;
      width: 100%;
      height: 100%;
      color: #fff;
      margin: 10px;
      padding-left: 8%;
      padding-right: 10%;

      @keyframes textUptoDownAppear {
            0% {
                  opacity: 0;
                  transform: scaleY(0);
            }

            100% {
                  opacity: 1;
                  transform: scaleY(1);
            }

      }

      .Description {
            width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            font-weight: 400;
            font-size: 27px;
            text-align: left;
            color: #373636;
            font-family: GeoEditMedium, Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Helvetica, Arial, sans-serif;
            letter-spacing: normal;
            line-height: 35px;
            animation: textUptoDownAppear 1s ease-in-out 1s forwards;
      }

      .detailsPreview {
            width: 100%;
            transform: scaleY(0);
            margin-bottom: 5%;
            transform-origin: top;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            margin-top: 30px;
            text-align: left;
            color: #333333;
            font-family: GeoEditMedium, Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Helvetica, Arial, sans-serif;
            animation: textUptoDownAppear .5s ease-in-out 0s forwards;

      }
}

@keyframes widthGrowHome {
      0% {
            width: 0;
      }

      100% {
            width: 100%;
      }

}

.widthGrowHome {
      animation: widthGrowHome .5s ease-in-out 0s forwards;
}

@keyframes widthShrinkHome {
      0% {
            width: 100%;
      }

      100% {
            width: 0;
      }

}

.widthShrinkHome {
      animation: widthShrinkHome .5s ease-in-out 0s forwards;
}

@keyframes flexExpand {
      0% {
            visibility: hidden;
            width: 0;
            flex: 0;
      }

      100% {
            visibility: visible;
            display: flex;
            width: 100%;
            flex: 1;
      }

}

@keyframes flexShrink {
      0% {
            flex: 1;
      }

      100% {
            flex: 1;
      }

}



.HomeFigure .box-container {

      #leftFigHome {

            /* cursor: pointer */
      }

      @keyframes flexExpandleft {
            0% {
                  visibility: hidden;
                  width: 0;
                  flex: 0;
            }

            100% {
                  visibility: visible;
                  width: 100%;
                  flex: 1;
            }

      }




      .left {
            animation: flexShrink 3s ease-in-out 5s forwards;
      }

      @keyframes leftFlexShrink {
            0% {
                  visibility: visible;
                  width: 100%;
                  flex: 1;
            }

            100% {
                  visibility: hidden;
                  width: 0;
                  flex: 0;
            }

      }

      #leftFigHome.leftshrink {
            visibility: visible;
            width: 100%;
            flex: 1;
            animation: leftFlexShrink .01s ease-in-out 0s forwards;
      }

      @keyframes leftFlexExpand {
            0% {
                  visibility: hidden;
                  width: 0;
                  flex: 0;
            }

            100% {
                  visibility: visible;
                  width: 100%;
                  flex: 1;
            }

      }

      #leftFigHome.leftgrow {
            animation: leftFlexExpand 1s ease-in-out 0s forwards;
      }

}

.transition-container {
      visibility: hidden;
      opacity: 0;
      display: none;
      transition: opacity 0.5s ease-in-out;
      /* background-color: #3498db; */
      padding: 2%;
}

.transition-container:hover {
      transform: scale(1.01);
      transition: transform 0.5s ease-in-out;
}

.transition-container.visible {
      visibility: visible;
      display: flex;
      opacity: 1;
}



.ulHome {
      font-size: 1.2rem;
      list-style-type: none;
      margin: 3em;

      li {
            @extend .checkmark;
      }
}


.checkmark {
      position: relative;
      padding-left: 0.8em;

      &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -0.5em;
            top: 5px;
            transform: rotate(45deg);
            height: 1em;
            width: 0.5em;
            border-bottom: 0.15em solid;
            border-right: 0.15em solid;

      }

      &:is(li) {
            margin-left: 1em;

            &:not(:first-child) {
                  margin-top: 1em;
            }
      }
}

/* 
.swiper-button-next, .swiper-button-prev {
      opacity: 0;
transition: opacity 0.3s;
z-index: 1000;
cursor: pointer;
}

.swiper-container:hover .swiper-button-next,
.swiper-container:hover .swiper-button-prev {
      opacity: 1;
      z-index: 1000;
      cursor: pointer;
}

*/