@keyframes slideDown {
      0% {
            transform: translateY(-100%);
      }

      100% {
            transform: translateY(0);
      }
}


.header {
      border-style: solid;
      border-width: 0px 0px 0px 0px;
      border-color: var(--e-global-color-primary);
      background: rgba(255, 255, 255, 0.772);
      transition: var(--background-start-rgb) 0.1s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      margin-top: 0px;
      padding: 0px 0px 0px 0px;
      height: 23vh;
      width: 100vw;
      padding-left: 6%;
      padding-right: 6%;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      animation: slideDown 0.5s ease-in-out;
}

.header .header-1 {
      display: flex;
      height: 100%;
      flex-direction: row;
      padding-bottom: 0px;
}

.header .header-1 .left {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-items: flex-start;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;

      /* padding: 0px; */
}



.header .header-1 .left .logo {
      display: flex;
      min-width: 180px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-height: 100px;
      cursor: pointer
}



.header .header-1 .left .logo:hover {
      transform: scale(1.06);
      transition: transform 0.3s ease-in-out;

}





.header .header-1 .center {
      display: flex;
      flex: 3;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      justify-items: end;
      width: 100%;
      padding-right: 40px;
      padding-bottom: 25px;
      margin-left: 1.5%;
      margin-top: 5%;
      flex-wrap: nowrap;
}

.header .header-1 .center .title-h1 {
      align-items: start;
      text-align: center;
      font-size: 35px;
      font-family: "Inter", sans-serif;
      font-weight: 900;
      color: #23336A;
      max-height: fit-content;
      height: auto;
      margin-left: 0px;

      @media screen and (max-width: 1200px) {
            font-size: 30px;
      }
}

.header .header-1 .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      justify-items: flex-end;
      width: 100%;
      margin-left: 0px;
      margin-top: 2.5%;
}

.header .header-1 .right .duewu {
      margin-top: 1%;
      width: 55%;
      height: 100%;
      min-width: 122px;
      min-height: 70px;
      margin-left: 0px;
}

.header .header-1 .right .du {
      margin-top: 15px;
      /* width: 50%; */
      width: 45%;
      height: 100%;
      min-width: 55px;
      margin-left: 0px;
      cursor: pointer;
}

.header .header-1 .right .du:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
}

.header .header-1 .right .ewu {
      /* width: 57%; */
      width: 50%;
      min-width: 65px;
      margin-left: 0px;
      padding-bottom: 10%;
      cursor: pointer;
}



.header .header-1 .right .ewu:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
}



.menuTab {
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      width: 100vw;
      padding-right: 40px;
      padding-left: 30px;
      margin-left: 0px;
      font-size: 20px;
      font-family: "Inter", sans-serif;
      animation: slideDown 0.5s ease-in-out;

}

@keyframes moveIn {
      0% {
            transform: translateY(-100%);
      }

      100% {
            transform: translateY(0);
      }
}

#center-header.movein {
      animation: moveIn 0.5s ease-in-out 0s forwards;
}

@keyframes moveOut {
      0% {
            transform: translateY(0);
      }

      100% {
            transform: translateY(-300%);
      }
}

#center-header.moveout {
      animation: moveOut 0.5s ease-in-out 0s forwards;
}



#right-header.movein {
      animation: moveIn 0.5s ease-in-out 0s forwards;
}



#right-header.moveout {
      animation: moveOut 0.5s ease-in-out 0s forwards;
}

@media screen and (max-width: 768px) {
      .fontSize {
            font-size: 14px;
      }

}

@media screen and (max-width: 1000px) and (min-width: 768px) {
      .fontSize {
            font-size: 15px;
      }

}

@media screen and (max-width: 1200px) and (min-width: 1000px) {
      .fontSize {
            font-size: 16px;
      }

}

@media screen and (min-width: 1200px) {
      .fontSize {
            font-size: 18px;
      }

}

.banlangicon:hover .banglaselect {
      display: block;
}

.banlangicon:hover .banglanoselect {
      display: none;
}

.banlangicon .banglanoselect {
      display: block;
}

.banlangicon .banglaselect {
      display: none;
}

.banlangicon:hover {
      color: #0131cc;
}


.englangicon:hover .banglaselect {
      display: block;
}

.englangicon:hover .banglanoselect {
      display: none;
}

.englangicon .banglanoselect {
      display: block;
}

.englangicon .banglaselect {
      display: none;
}

.englangicon:hover {
      color: #0131cc;
}