button,
p {
      all: unset;
}

.bground {
      background-color: rgb(0 0 0 / var(--tw-bg-opacity));
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
}

@keyframes slideUp {

      0% {
            display: flex;
            transform: translateY(300%);
            opacity: 0;
      }

      100% {
            display: flex;
            transform: translateY(0);
            opacity: 1;
      }


}



#navbar.invisible {
      visibility: hidden;
}

#navcontainer.visible {
      visibility: visible;
}

.nav-container {
      z-index: 1000;
      top: 22vh;
      width: 100vw;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      font-size: 24px;



}

#navcontainer.animationnav {
      top: 22vh;
      animation: fadeIn 1s ease-in-out 0s forwards;
}

#navcontainer.widthnav {
      width: 100vw;
      left: 0;
}


@keyframes moveInNav {
      0% {
            top: 22vh;
            width: 100vw;
            left: 0;
      }

      100% {
            top: 7vh;
            width: 80vw;
            left: 22vw;
      }
}

#navcontainer.moveinnav {
      animation: moveInNav 0.5s ease-in-out 0s forwards;
}

@keyframes moveOutNav {
      0% {
            top: 7vh;
            width: 80vw;
            left: 22vw;
      }

      100% {
            top: 22vh;
            width: 100vw;
            left: 0;
      }
}

#navcontainer.moveoutnav {
      animation: moveOutNav 0.5s ease-in-out 0s forwards;
}





@keyframes fadeIn {
      from {
            visibility: hidden;
      }

      to {
            visibility: visible;
      }
}

.NavigationMenuRoot {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-family: 'Inter', sans-serif;
      position: relative;
      font-weight: 700;
      font-size: 24px;
      z-index: 100;


}

#navbar.animationroot {
      animation: slideUp 1s ease 0s forwards;
}


.NavigationMenuList {
      display: flex;
      flex-grow: inherit;
      width: 100%;
      justify-content: space-around;
      list-style: none;
      color: white;
      margin: 0;
}

#navbarlist.widthnav {
      width: 100vw;
      /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.172); */
}


@media screen and (max-width: 1080) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 12px;
            }

            100% {
                  width: 80vw;
                  font-size: 10px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 10x;
            }

            100% {
                  width: 100vw;
                  font-size: 8px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 7px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 8px;
            z-index: 100;
      }
}

@media screen and (max-width: 1149px) and (min-width: 1080px) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 12px;
            }

            100% {
                  width: 80vw;
                  font-size: 10px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 10px;
            }

            100% {
                  width: 100vw;
                  font-size: 12px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 12px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 12px;
            z-index: 100;
      }
}


@media screen and (max-width: 1299px) and (min-width: 1150px) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 14px;
            }

            100% {
                  width: 80vw;
                  font-size: 10px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 10px;
            }

            100% {
                  width: 100vw;
                  font-size: 14px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 14px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 14px;
            z-index: 100;
      }
}

@media screen and (max-width: 1445px) and (min-width: 1300px) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 18px;
            }

            100% {
                  width: 80vw;
                  font-size: 15px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 15px;
            }

            100% {
                  width: 100vw;
                  font-size: 18px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 18px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 18px;
            z-index: 100;
      }
}

@media screen and (min-width: 1445px) and (max-width: 1800px) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 18px;
            }

            100% {
                  width: 80vw;
                  font-size: 16px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 16px;
            }

            100% {
                  width: 100vw;
                  font-size: 18px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 18px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 18px;
            z-index: 100;
      }
}

@media screen and (min-width: 1801px) {
      @keyframes widthShrink {
            0% {
                  width: 100vw;
                  font-size: 20px;
            }

            100% {
                  width: 80vw;
                  font-size: 16px;


            }
      }

      @keyframes widthGrow {
            0% {
                  width: 80vw;
                  font-size: 16px;
            }

            100% {
                  width: 100vw;
                  font-size: 20px;
            }
      }

      #navbarlist.widthgrow {
            animation: widthGrow 0.5s ease-in-out 0s forwards;
      }

      #navbarlist.widthshrink {
            animation: widthShrink 0.5s ease-in-out 0s forwards;
      }

      .nav-container {
            z-index: 1000;
            top: 22vh;
            width: 100vw;
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            font-size: 20px;
      }

      .NavigationMenuRoot {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: 'Inter', sans-serif;
            position: relative;
            font-weight: 700;
            font-size: 20px;
            z-index: 100;
      }
}

#navbarlist.widthshrink {
      animation: widthShrink 0.5s ease-in-out 0s forwards;
}


#navbarlist.widthgrow {
      animation: widthGrow 0.5s ease-in-out 0s forwards;
}




.ListItemLinkActive {
      color: black;
      background-color: black;
      cursor: pointer;
}


@keyframes fadeOut {
      from {
            opacity: 1;
      }

      to {
            opacity: 0;
      }
}


.nav {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-shrink: inherit;
      position: relative;
      justify-content: space-between;
      align-items: center;
      margin-left: 7%;
      margin-right: 7%;
      z-index: 1000;
}

.selected {
      background: #4f1baa;
      color: white;

}

.nav-item:hover {
      transform: scale(1.05);
      transition: transform 0.5s;
}

.selectedActive {
      box-shadow: #4f1baa 8px 5px 10px 0px;
}

.nav_drop {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 15px;
      z-index: 100;
      color: white;
}